@import "variables";

.sz-field-label {
  @include desktop-caption-font;
  width: 100%;

  &__title {
    margin-bottom: 2px;
    height: 16px;
  }

  &__bottom-text {
    margin-top: 4px;
    height: 16px;
  }

  &_error {
    color: $purple;
  }
}
